<section class='content-section full-screen-container-fluid-2'  id="beers-section">
	<div class="container-fluid full-screen-container-fluid">
		<div class="row  ">
			<h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-black piecesOfEight-center"> Jack's Beers </h1>
			
			<div id="owl-beers" class="owl-carousel owl-theme">

				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-1.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-2.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-3.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-4.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-5.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beers/beer-6.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>