<section class='content-section full-screen-container-fluid'  id="home-section">
	<div class="container-fluid full-screen-container-fluid-2">
		<div class="row presentation-container ">
			<div class="image-container " id="presentation-image">
				<%= image_tag "pergamino-lg-1.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
		</div>
		<div class="row grid-container ">
			<div class=" col-xs-12 col-sm-12 col-md-3 full-screen-container-fluid-2  ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class=" col-xs-12 col-sm-12 col-md-3 full-screen-container-fluid-2  ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class=" col-xs-12 col-sm-12 col-md-3 full-screen-container-fluid-2  ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class=" col-xs-12 col-sm-12 col-md-3 full-screen-container-fluid-2  ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>

		</div>
	</div>
</section>