<section class='content-section '  id="home-section">
	<div class="container-fluid full-screen-container-fluid  ">
		<div class="row full-screen-container-fluid  ">
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid  min-padding ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid min-padding ">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
		</div>
		<div class="row full-screen-container-fluid  ">
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
			<div class="col-md-3 full-screen-container-fluid  min-padding">
				<%= image_tag "portfolio-thumbnail-11.3.jpg",class: "img-responsive   centered-image" , alt:"Card image cap" %>
			</div>
		</div>
	</div>
</section>