<section class='services-section content-section '  id="services-section">
	<div class="container-fluid full-screen-container-fluid" >
		
		
		
		<div class="row ">
			<h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-black piecesOfEight-center"> Chelas </h1>

			<div id="owl-beers" class="owl-carousel owl-theme">

				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-1.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-2.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-3.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-4.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-5.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-6.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
			</div>

			
			
		</div>
		<div class="row ">
			<h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-black piecesOfEight-center"> Paquetes </h1>

			<div id="owl-packs" class="owl-carousel owl-theme">

				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-1.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-2.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-3.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-4.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-5.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="card card-with-opacity-full card-with-no-border">
						<div class="image-container">
							<%= image_tag "beer-six-6.png", alt:"Card image cap" %>
						</div>

						<div class="card-block">
							<div class="">
								<h5 class="letter-white piecesOfEight piecesOfEight-price"> $ 180<small>&nbsp; six pack</small></h5>
							</div>

							<button type="button" class="btn btn-warning btn-sm piecesOfEight piecesOfEight-xs piecesOfEight-space" >Comprar</button>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
</section>