


<div class="container-fluid " >
      <div class="row ">
        <div class="panel panel-default no-border-panel "> 
                      <div class="panel-body no-background-panel">
                        
        <%= image_tag "beer-promo-1.4.jpg",class: "img-responsive centered-image" %>
        </div> 
                  </div>                
              
     
      </div>
      <div class="row ">
        
          <div class="col-xs-12  col-sm-6  col-md-3">
            <div class="panel panel-default no-border-panel "> 
                      <div class="panel-body no-background-panel">
                        <%= image_tag "portfolio-thumbnail-06.2.jpg",class: "img-responsive centered-image" %>
                      </div> 
                  </div>
                              
          </div>
          <div class="col-xs-12  col-sm-6  col-md-3">
            <div class="panel panel-default no-border-panel "> 
                      <div class="panel-body no-background-panel">
                        <%= image_tag "portfolio-thumbnail-09.2.jpg",class: "img-responsive centered-image" %>
                      </div> 
                  </div>
          </div>   
          <div class="col-xs-12  col-sm-6  col-md-3">
            <div class="panel panel-default no-border-panel "> 
                      <div class="panel-body no-background-panel">
                        <%= image_tag "portfolio-thumbnail-06.2.jpg",class: "img-responsive centered-image" %>
                      </div> 
                  </div>
                              
          </div>
          <div class="col-xs-12  col-sm-6  col-md-3">
            <div class="panel panel-default no-border-panel "> 
                      <div class="panel-body no-background-panel">
                        <%= image_tag "portfolio-thumbnail-09.2.jpg",class: "img-responsive centered-image" %>
                      </div> 
                  </div>
          </div>             
        
     
      </div>
</div>