<%= render partial: "home" %>
<%= render partial: "separator" , locals:{message:"Jack's Beers, que la cerveza vaya a ti!!! ",message2:"Somo el único servicio de cerveza a domicilio",id:""}%>
<%= render partial: "beers" %>
<%= render partial: "separator" , locals:{message:"Jack's Beers, que la cerveza vaya a ti!!! ",message2:"Somo el único servicio de cerveza a domicilio",id:""}%>
<%= render partial: "packs" %>
<%= render partial: "separator" , locals:{message:"Jack's Beers, que la cerveza vaya a ti!!! ",message2:"Somo el único servicio de cerveza a domicilio",id:""}%>
<%= render partial: "about" %>
<%= render partial: "covertura" %>

<%= render partial: "footer" %>

<div class="floating-buttons piecesOfEight piecesOfEight-xxs piecesOfEight-space piecesOfEight-black piecesOfEight-center  hidden-sm hidden-xs ">
		<div class="floating-buttons-item">
			<button type="button" class="btn btn-primary"><i class="fa fa-beer fa-2x"></i>Comprar</button>
		</div>
		<div class="floating-buttons-item">
			<button type="button" class="btn btn-success"><i class="fa fa-sign-in fa-2x"></i>Entrar</button>
		</div>
</div>