<%= render partial: "home" %>
<%= render partial: "separator" , locals:{message:"Jack's Beers, que la cerveza vaya a ti!!! "}%>
<div id="card-flip"> 
								  <div class="front"> 
								    Front content
								  </div> 
								  <div class="back">
								    Back content
								  </div> 
								</div>
<%= render partial: "features" %>
<%= render partial: "separator" , locals:{message:"Jack's Beers, que la cerveza vaya a ti!!! "}%>
<%= render partial: "services" %>
<%= render partial: "separator" , locals:{message:"Sed y flojera?, Jack's Beers !!! "}%>
<%= render partial: "contact" %>