
<!DOCTYPE html>
<html>
<head>
	<title>Jacksbeers</title>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>





	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.18/dist/jquery.flip.min.js"></script>


</head>
<body>
	
	<div id="main-section"  class=" full-screen-container-fluid  ">
	  <div class="container-fluid full-screen-container-fluid ">
        <div class="row  full-screen-container-fluid ">
          <div class="col-md-3 menu-bar full-screen-container-fluid hidden-xs hidden-sm " >
            <%= render partial: "nav_bar" %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9  content-collumn  full-screen-container-fluid " id="row-content" >
          	<div class="row"> 
          		<%= render partial: "nav_bar2" %>
          	</div>
          	<div class="row full-screen-container-fluid" > 
          		<%= yield %>
          	</div>
          </div>
        </div>
      </div>
    </div>
	</div>


</body>
</html>

